# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/
env/
.venv/

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# PyCharm
.idea/

# Mac
.DS_Store

# Model files (용량 클 경우)
*.pkl
*.joblib

# Logs
*.log

# Streamlit
.streamlit/
